 table {
  border-collapse: collapse;
    background-color:#FFFFFF
}
   th, td {
  border: solid 1px #333;
}
 body {
           background-image: url("https://github.com/oyakatasamapoke/github.io/blob/main/%E5%86%99%E7%9C%9F/Screenshot_20211119-210203_2.png");
  background-size: cover;
            align-items: center;
         background-color:pink;
        }
.お知らせ{
            align: center;
}
